@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

#root-container {
  display: flex;
  align-items: center;
  height: 40%;
  max-height: 40%;
  width: 400px;
  /*transform: scale(1.2); increase size of everything in container*/
}

#title-and-description {
  flex-wrap: wrap;
  width: 200px;
}

#description {
  font-family: "Montserrat";
  font-size: 25px;
  margin-top: 0px;
  margin-left: 10px;
}

#title {
  font-family: "Montserrat", cursive;
  font-size: 48px;
  margin-top: 18px;
  margin-bottom: 0px;
  background: linear-gradient(45deg, red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5),
               0 0 10px rgba(255, 165, 0, 0.5),
               0 0 15px rgba(255, 255, 0, 0.3);
}

@keyframes roastGlow {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5),
                 0 0 10px rgba(255, 165, 0, 0.5),
                 0 0 15px rgba(255, 255, 0, 0.3);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.8),
                 0 0 20px rgba(255, 140, 0, 0.7),
                 0 0 30px rgba(255, 215, 0, 0.5);
  }
}


#roastume-icon {
  transform: scale(1.2);
}
